<%= form_for(@enquiry_detail) do |f| %>
  <% if @enquiry_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enquiry_detail.errors.count, "error") %> prohibited this enquiry_detail from being saved:</h2>

      <ul>
      <% @enquiry_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
